*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: rgb(240, 241, 207);
  font-family: sans-serif;
}

body {
  /*Image in a certain space, background for title  */
  /* украинский ландшафт, земля, Карпаты, воды, леса */
}
